@model WebEscuelaMVC.Models.Aula

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle</title>
</head>
<body>
    <fieldset>
        <legend>Aula Detalle</legend>
        <div>
            @Html.DisplayNameFor(model => model.Numero)
        </div>
        <div>
            @Html.DisplayFor(model => model.Numero)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Estado)
        </div>
        <div>
            @Html.DisplayFor(model => model.Estado)
        </div>


    </fieldset>
    <p>
        @Html.ActionLink("Regresar al Indice", "Index", "Aula")
    </p>

</body>
</html>
